<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://vuejs.org/js/vue.js"></script>
    <title>bus demo</title>
</head>
<body>
    <div id="app">
        <h1>books (兄弟组件使用bus通信demo)</h1>
        <book-query></book-query>
        <book-list :books="books"></book-list>
        <book-detail :books="books"></book-detail>
    </div>        
</body> 
<script>
Vue.component('bookQuery', {
    template: `<div style="orange">
                    <span> which book do you want? </span>
                    <input type="number" v-model="bookId"></input>
                    <button @click="handleClick">go</button>
               </div>`,
    data(){
        return {
            bookId: 0
        }
    },
    methods: {
        handleClick(){
            console.log('handleClick',this.bookId, typeof this.bookId);
            this.$root.Bus.$emit('bookId',parseInt(this.bookId, 10));            
            
        }
    }

});

Vue.component('bookList',{ // 子组件1 book list
    template: `<div>
                    <ol>
                        <li v-for="b in books" :key="b.id">
                            <a @click="handleClick(b.id)">{{b.name}}</a>
                        </li>
                    </ol>
               </div>`,
    props: ['books'],
    methods: {
        handleClick(bookId){
            this.$root.Bus.$emit('bookId',bookId);            
        }
    }
})
Vue.component('bookDetail',{ // 子组件2 book detail
    template: `<div>
                    <div style="color: blue" v-show="Object.keys(currentBook).length">
                        <h2>name: {{currentBook.name}}</h2>
                        <p>content: {{currentBook.main}}</p>
                        <p>price: {{currentBook.price}}</p>
                    </div>
                    <p style="color:red" v-show="message">{{message}}</p>
               </div>`,
    props: ['books'],
    data(){
        return {
            currentBook: {},
            message: ''
        }
    },
    mounted(){
        this.init();
    },
    methods: {
        init(){
            this.$root.Bus.$on('bookId', (value)=>{
                const bookObj = this.books.find((d)=>d.id===value);
                if(bookObj){
                    this.currentBook = bookObj;
                    this.message = ''
                }else{
                    this.message = 'sorry, the book you want does not exist!'
                }
            })
        }
    }
});


const vm = new Vue({    // 父组件    
    el: '#app',
    data() {
        return {
            books: [
                {id: 1, name: 'Animal World', main: 'introduce animals', price: 45},
                {id: 2, name: 'How to make cake?', main: 'methods to make cakes', price: 33},
                {id: 3, name: 'storys', main: 'storis about famous people', price: 100},
            ],
            Bus: new Vue()
        }
    }
});


</script>
<style>
    a{
        text-decoration: underline;
        color: green;        
        cursor: pointer;
    }
</style>
</html>