.entry-module{
    background: #d5d5d5;
    .nav{
        padding: 0;
        height: 50px;
        line-height: 50px;        
        .menu{
            display: inline-block;
            margin-left: 20px;
        }
    }
}