body {
    margin: 40px;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    border: none;
    outline: none;
    background: #ddd;
    padding: 10px;
    border-radius: 2px;
    color: #666;    
    cursor: pointer;
}

button:hover{
    color: #000;
}
