frontend/react/node_modules
frontend/react/dist/
frontend/vue/node_modules
frontend/vue/dist/
backend/server/node_modules/
backend/server/dist/
frontend/vue/package-lock.json
frontend/react/package-lock.json
backend/server/dist/.keep
