.m-tip-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0,0, 0.3);
    .content{
        width: 600px;
        height: 300px;
        box-shadow: 10px 10px 5px #888;
        background: #fff;
        margin: 400px auto;
        padding: 30px;
        text-align: left;
        .line{
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ddd;
        }
        button{
            background: darkgray;
            padding: 5px;
            color: #fff;
            margin: 2px;
            box-shadow: 2px 2px 1px #333;            
        }
    }

}