<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="./vue.2.5.17.js"></script>
    <title>组件自身递归调用</title>
</head>
<body>
    <div id="app">
        <h1>组件自身递归调用</h1>
        <file-list :list="list"></file-list>
    </div>        
</body>
<script>

Vue.component('fileList',{ // name 为 'fileList' 或者 'file-list' 都可以
    template: `<div>
                    <div v-for="(item,index) of list" :key="index">
                        <div>
                            <span class="item-title">{{item.title}}</span>
                        </div>
                        <div v-if="item.children" style="margin-left: 20px;">
                            <file-list :list="item.children"></file-list>
                        </div>
                    </div>  
                </div>`,
    props: ['list']
});

var vm = new Vue({
    el: '#app',
    data() {
        return {
            list: [
                {
                    title: '音乐',
                    children: [
                        {title: '专辑',children:[]},
                        {title: '艺人',children:[]}
                    ]
                },
                {
                    title: '文件',
                    children: [
                        {title: 'doc',children:[]},
                        {title: 'ppt',children:[]}
                    ]
                }                
            ]
        }
    }
});


</script>
</html>