.m-t2{
    .city{
        margin-bottom: 30px;
        text-align: center;
    }
    .chart{
        border: 1px solid #888;
    }
    .tooltip-color-icon{
        width: 5px;
        height: 5px;
        line-height: 5px;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-right: 3px;
    }
}